body,ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,form,input,textarea,select{margin:0; padding:0; list-style-type:none;}
html { background: #f0f0f0; height:100%; }
body{ font-family:微软雅黑; font-size:14px; min-height:100%; max-width:650px; background: #e3e2e2; color:#333; margin:0 auto; }
a,a:visited { color: #323232; outline-style: none; text-decoration: none; }
em { font-style: normal; font-weight: normal; list-style: outside none none; margin: 0; padding: 0;}
a:hover { text-decoration:none; color: #323232;}
a:focus { text-decoration:none;}
.left { float:left; }
.right { float:right; }
.rel { position:relative; }
.pd2 { padding:2px;}
.pd5 { padding:5px;}
.pd10 { padding:10px;}
.red { color:Red;}
.gray { color:Gray;}
.clear { clear:both;}
.mgleft{ margin-left:10px;}
.mgright{ margin-right:10px;}
.font14{ font-size:14px;}
a.btn-primary { color:#fff;}

.wap-index-left { float:left; width:50%; height:100%;}
.wap-index-right { float:left; width:50%; height:100%;}
.wap-index-left a,.wap-index-right a { width:100%; height:100%; display:block;}
.loading { margin:0 auto; padding:30px 0; text-align:center; background:#fff; color:#999; line-height:30px; font-size:12px;}
.loading img { width:50px; height:50px;}
.mainpage {  }
.m-wrap { padding:10px 10px 0 10px; background:#e3e2e2}
.m-ul{ display:block; margin-left:-5px; }
.m-li { width:50%; margin-bottom:5px; border-left:5px solid transparent; box-sizing:border-box; }
.m-li a { background-color: #fff; display: block; padding: 5px; position: relative;}
.m-li img { width:100%; display:block; border:1px solid #ccc;}
.m-li .pd5{ padding:5px; position: relative;}
.m-li .icon-jiu{ display:block; width:50px; height:50px; background:url(../images/jiuzhe.png) no-repeat; position: absolute; right:4px; bottom:5px;}
.m-txt { height:18px; line-height:18px; margin:5px; overflow:hidden; color: #323232; }
.m-price { height:22px; line-height:22px; margin:8px 5px; font-size:12px;}
.m-express { color:#919191; line-height:22px; height:22px;}
.returnA { width:50px; position:absolute; left:20px; top:10px;text-indent: -9999px;}
.returnA:before { position: absolute; display: inline-block; border-top: 9px solid transparent; border-right: 9px solid #fff; border-bottom: 9px solid transparent; border-right-color: #5d5d5d; left: -8px; top: 6px;  content: ''; } 
.returnA:after { position: absolute; display: inline-block; border-top: 8px solid transparent; border-right: 8px solid #fff; border-bottom: 8px solid transparent; left: -6px; top: 7px; content: ''; } 
.titleSpan { display:block; width:100%; text-align:center;}
.titleNav { height:50px; line-height:50px; padding:0 10px; background:#fff; position:relative;}

.m-bottom { bottom: 0; font-size: 14px; left: 0; position: fixed; width: 100%; z-index: 998;}
#footermenu { background-color: #fff; border-top: 1px solid #e3e3e3; height: 45px; line-height: 45px; margin: 0 auto; max-width: 650px; text-align: center; width: 100%; padding:5px 0;}
#footermenu li { float:left; height:45px; line-height:45px;}
 #ftm-user, #ftm-cart { border-right: 1px solid #e3e3e3; box-sizing: border-box; color: #4c4c4c; position: relative; width: 50%;}
/*#ftm-user { width:34%;}*/
#ftm-cart { border-right:none;}
.m-dcontent { padding:10px; background:#fff}
.m-dprice { height:22px; line-height:22px; font-size:16px;}
.m-ddescription { margin-top:10px; background:#fff; padding:10px;}

.m-description { margin:10px 0; background:#fff;  }
.m-description .description-menu { height:35px; border-bottom: 1px solid #DF212F; background:#fff; }
.m-description .description-menu li { float:left; width:33%; height:35px; line-height:35px; text-align:center; }
.m-description .description-menu .active-controller { background:#BF1924; color:#fff; }
.m-description .description-item { padding:15px 20px; }
.m-description .description-item li { display:none; }
.m-description .description-item .active-controller { display:block; }

.article_time { height:25px; line-height:25px; font-size:16pt; }
.article_time i { background:url('../images/time_icon.jpg') no-repeat scroll 0 0; width:21px; height:22px; margin:0 10px; display:inline-block; }

#my-cart .abs {  background-color: #f00; border-radius: 8px; color: #fff; display: none; font-size: 14px; height: 16px; line-height: 16px; right: 0px; text-align: center; top: 1px; width: 16px; position:absolute;}

.cart-prod-num { line-height:30px; width:30%;}
.cart-prod-num a { font-size:20px;font-family: serif; display:block; width:15px; height:15px; float:left; margin-left:5px; } 
.cart-prod-num input { float:left; margin-left:10px; width:20%; text-align:center;}

.red-em { background-color: #c60a1e; border-radius: 9px; display: block; height: 18px;  position: relative; text-align: center; width: 18px;}
.red-em i { border-bottom: 1px solid #fff; border-right: 1px solid #fff; display: block; height: 10px; left: 6px; position: absolute; top: 1px; transform: rotate(45deg); width: 6px;}

.add_upd { background:url(../images/addressset.png) no-repeat 0px -77px; display: block; height: 2.1875rem; width: 2.8125rem;}
.add_del { background:url(../images/addressset.png) no-repeat 19px 3px; display: block; height: 2.1875rem; width: 2.8125rem;}
.add_list_p { padding:5px 30px 5px 10px; }
.add_list_p label { position:absolute; left:10px; top:10px; margin-bottom:0; }
.add_list_p input,.add_list_p select { width:100%; margin-bottom:0; font-size:12px; box-shadow:none;}
.add_list_p input:focus { box-shadow:none;}
.list_pdl { padding-left:90px;}

.u-order-li { width:50%; float:left; height:140px; }
.u-order-li a { display:block; border-bottom:1px solid #e8eaea; height:100%; text-align:center; }
.u-order-li a.li-right { border-left:1px solid #e8eaea; }
.u-order-li #orderLi { background:url(/images/userindex.png) no-repeat 0 40px; height: 80px;width: 30px; position: relative; margin: 0 auto; display:block; }
.u-order-li #orderLi .unreadMsg { background-color: #f00; border-radius: 8px; color: #fff; font-size: 14px; height: 16px; line-height: 16px; position: absolute; right: -11px; text-align: center; top: 34px; width: 16px;}
.u-order-li #addressLi { background:url(/images/userindex.png) no-repeat 0 -66px; height: 80px;width: 33px; position: relative; margin: 0 auto; display:block; }
.u-order-li #collectLi { background:url(/images/userindex.png) no-repeat -111px 40px; height: 80px;width: 33px; position: relative; margin: 0 auto; display:block; }
.u-order-li #infoLi { background:url(/images/userindex.png) no-repeat -111px -66px; height: 80px;width: 38px; position: relative; margin: 0 auto; display:block; }

.ls-order-ul { }
.ls-order-ul li { float:left; width:25%; height:30px; text-align:center; line-height:30px; }
.ls-order-ul li a { width:100%; display:block; }
.ls-order-ul li a.ok { color:#c60a1e; }

.m-dcontent .ls-order-title { height:55px; line-height:25px; border-bottom:1px solid #eee; }
.m-dcontent .ls-order-prod { border-bottom: 1px solid #eee; display: block; height: 6.5rem; overflow: auto; padding-left: 6.5rem; padding-top: 1rem; }
.m-dcontent .ls-order-prod p.lop-img { height: 5.5rem; left: 0; overflow: hidden; position: absolute; width: 5.5rem; }
.m-dcontent .ls-order-prod p.lop-name { color: #707070; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.m-dcontent .ls-order-prod p.lop-num { color: #707070; height: 1.5rem; line-height: 1.5rem;}
.m-dcontent .ls-order-prod p.lop-price { bottom: 1.0rem; font-size: 16px; position: absolute; right: 0;}
.m-dcontent p.ls-order-num { border-bottom: 1px solid #eee; color: #707070; height: 50px; line-height: 50px;}
.m-dcontent p.ls-order-state { border-bottom: 1px solid #eee; color: #707070; height: 50px; line-height: 50px;}
.m-dcontent p.ls-order-total { padding: 10px 0 5px;}
.m-dcontent p.ls-order-total span { display: block; line-height: 30px; text-align: right;}
.m-dcontent .paybtn { position:absolute; right:3px; top:10px;}

.o-price, .o-state-close { color:#d93229;}

/*购物车*/
.sc-item { padding:10px; position:relative; height:90px; border-bottom:1px solid #e3e2e2;}
.sc-item .cbox { left:8px; top:45px; position:absolute; }
.sc-item #p-img-block { left:30px; top:13px; position:absolute; }
.sc-item #p-title { margin-left:80px; display:block; height:36px; line-height:18px; overflow:hidden;}
.sc-item #p-xinghao { margin-left:80px; display:block; height:18px; line-height:18px; color:#999; font-size:12px; margin-top:5px;}
.sc-item #p-price-block { float:left; margin-top:5px;}
.sc-item .sc-p-count { line-height:35px; float:right;}
.sc-item .sc-p-count a { font-size:22px; font-family:serif; display:block; float:left; margin-top:-3px; margin-left:5px; }
.sc-item .sc-p-count input[type=text] {  width:30px; float:left; margin-left:8px; text-align:center;}
.sc-item .sc-p-del { position:absolute; top:5px; right:10px; display:block; width:20px; height:20px; text-align:center; vertical-align:middle;}

/*确认订单*/
.sub-cart-prod { padding:15px; position:relative; height:60px; border-bottom:1px solid #e3e2e2;}
.sub-cart-prod .prod-img{ left:10px; top:13px; position:absolute; }
.sub-cart-prod .prod-title{ margin-left:60px; margin-right:70px; display:block; height:36px; line-height:18px; overflow:hidden;}
.sub-cart-prod .prod-xinghao { margin-left:60px; margin-right:70px; display:block; height:18px; line-height:18px; color:#666; font-size:12px; margin-top:5px;}
.sub-cart-prod .prod-price { top:13px; right:10px; position:absolute}
.sub-cart-prod .prod-count { top:40px; right:10px; position:absolute; font-size:12px;}
.sub-total { padding:10px; position:relative; line-height:25px;}
/*.sub-total #freight_fee { top:13px; right:5px; position:absolute; color:#666; }
.sub-total #preferential { top:40px; right:5px; position:absolute; color:#666; }
.sub-total #total_count { top:67px; right:5px; position:absolute; color:#666; }*/
.sub-total #freight_fee {  float:right; display:block; color:#666; clear:both; }
.sub-total #preferential { float:right; display:block; color:#666; clear:both; }
.sub-total #total_count { float:right; display:block; color:#666; clear:both; }
.sc-address-block { background:#fff; margin:10px; padding:20px 10px 10px; line-height:22px;}
.sc-address-block input { margin-bottom:0;}

.payresult { text-align:center; padding:50px 0 20px 0; font-size:22px; color:Green; line-height:35px; font-weight:bold;}
.icon-success, .icon-failure { background: url("/images/ico-tips.png") no-repeat; height:38px; width:38px; vertical-align:middle; margin-right:10px; display:inline-block; }
.icon-success {  background-position: -80px 0; }
.icon-failure  { background-position: -80px -48px; }

.prod-list-btn { width:100%; position:absolute; right:5px; bottom:8px;}
.prod-list-btn #addShopCart { width:25%; float:right; font-size:75%; min-width:65px; padding-left:0; padding-right:0;} 
.prod-list-btn #buyProd { width:15%; float:right; font-size:75%; min-width:30px; padding-left:0; padding-right:0; margin-right:5px;}
.prod-list-btn #buyProd_xly { width:25%; float:right; font-size:75%; min-width:60px; padding-left:0; padding-right:0; margin-right:5px;}

.nav-default { text-align:center; font-size:16px; }
.nav-default li { float:left; height:40px; text-align:center; background:#FDF8D2; font-weight:bold; font-family:微软雅黑; font-size:11pt; }
.nav-default li img{ height:40px;}
.nav-default #type-single { width:35%;  line-height:40px; color:#46484A; }
.nav-default #type-suit  { width:35%; line-height:40px; color:#FDF8D2;}
.nav-default #type-toys  { width:30%; line-height:40px; background: #fdf8d2; color: #46484a; position: relative;}
.type_menu_list, .type_toys_list { width:100%; margin:0 auto; position:absolute; top:40px; left:0%; line-height:35px; z-index:9999; background:#D83337; color:#FCF9D4; display:none;}
.type_menu_list div, .type_toys_list div { border-top:1px solid #FCF9D4; }
.type_menu_list a, .type_toys_list a { color:#FCF9D4; }

.ico-error, .ico-ok,.ico-ok-big,.ico-error-big{background:url(/images/ico-tips.png) no-repeat 0 0;display:inline-block;_background:url(/images/ico-tips.gif) no-repeat 0 0;}
.ico-error{background-position:-39px 0;width:24px;height:24px;margin:0 5px 0 0;vertical-align:middle}
.ico-ok{background-position:0 0;width:24px;height:24px;margin:0 5px 0 0;vertical-align:middle}
.ico-ok-big{background-position:-80px 0;width:38px;height:38px;vertical-align:middle;margin:0 10px 0 0;}
.ico-error-big{background-position:-80px -48px;width:38px;height:38px;vertical-align:middle;margin:0 10px 0 0;}
.bgtitle,.bgtitle1{ font-weight:bold;}

.Calendar {
    background-color: #f3f3f3;
    display:none;
    font-family: Verdana;
    font-size: 1rem;
    line-height: 2.5rem;
    padding: 0.5rem 0;
    text-align: center;
    width: 90%;
    margin:0 auto;
}
.Calendar a {
    color: #1e5494;
}
.Calendar table {
    border: 0 none;
    width: 100%;
}
.Calendar table thead {
    color: #acacac;
}
.Calendar table td {
    font-size: 1rem;
    padding: 1px;
}
#idCalendarPre {
    cursor: pointer;
    float: left;
    padding-left: 0.5rem;
}
#idCalendarNext {
    cursor: pointer;
    float: right;
    padding-right: 0.5rem;
}
#idCalendar td.onToday {
    color: #c60;
    font-weight: bold;
}
#idCalendar td.onSelect {
    font-weight: bold;
}