@charset "utf-8";
/*科e互联特效基本框架CSS*/
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}
body>div{margin:0 auto}
div {text-align:left}
a img {border:0}
body { color: #333; text-align: center; font: 12px "宋体"; }
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#535353;text-decoration:none}
a:hover { color: #D40000; text-decoration: none}
.clear{height:0; overflow:hidden; clear:both}

/*科e互联特效基本框架CSS结束，应用特效时，以上样式可删除*/
.main_visual{height:1200px;overflow:hidden;position:relative;}
.main_image{height:100%;overflow:hidden;position:relative;}
.main_image ul{width:9999px;height:100%;overflow:hidden;position:absolute;top:50px;left:0}
.main_image li{float:left;width:100%;height:100%;}
.main_image li span{display:block;width:100%;height:100%;text-align:center;}
.main_image li a{display:block;width:100%;height:100%}
.main_image li .img_1{background:url('../images/01.jpg') center top no-repeat; margin-top:20px; vertical-align:middle;}
.main_image li .img_2{background:url('../images/02.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_3{background:url('../images/03.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_4{background:url('../images/04.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_5{background:url('../images/05.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_6{background:url('../images/06.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_7{background:url('../images/07.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_8{background:url('../images/08.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_9{background:url('../images/09.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_10{background:url('../images/10.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_11{background:url('../images/11.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_12{background:url('../images/12.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_13{background:url('../images/13.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_14{background:url('../images/14.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_15{background:url('../images/15.jpg') center top no-repeat; margin-top:20px;}
.main_image li .img_16{background:url('../images/16.jpg') center top no-repeat; margin-top:20px;}
div.flicking_con{position:absolute;top:360px;left:50%;z-index:999;width:300px;height:21px;margin:0 0 0 -50px;}
div.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../images/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url(../images/hover_left.png) no-repeat left top;left:100px;}
#btn_next{background:url(../images/hover_right.png) no-repeat right top;right:100px;}