@charset "utf-8";
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
body>div{margin:0 auto}
div {text-align:left}
a img {border:0}
body { color: #666; text-align: center; font: 14px "宋体"; background:#336666; padding:10px; position:relative;}
ul, ol, li {list-style-type:none;vertical-align:0}
a,a:visited { outline-style:none;color:#fff;text-decoration:none;}
a:hover { color: #fff; text-decoration: none}
.clear{height:0; overflow:hidden; clear:both}
.red { color:Red;}
.gray { color:Gray;}
.ml10{ margin-left:10px;}

.banner { width:100%;background:#fff; text-align:center; }
.navBar { height:35px; line-height:35px; margin-top:5px; background:#2a2a2a; color:#666; width:100%;}
.navBar div { width:33%; float:left; font-weight:bold; text-align:center;}
.navMenu { background:#fff; margin-top:5px; height:40px; line-height:40px; position:relative; width:100%; overflow:hidden; }
.navMenu .leftPrev { float:left; width:10%; text-align:center; font-weight:bold; z-index:99; position:absolute; background:#fdf6ea; height:40px; }
.navMenu .rightNext { right:0; width:10%; text-align:center; font-weight:bold; border-left:1px solid #ccc; z-index:99; position:absolute; background:#fdf6ea;height:40px;}
.showMenu {  }
.navDate { border-left:1px solid #ccc; height:40px; position:absolute; left:10%; z-index:1; width:200%; }
.navDate li { float:left; width:10%; text-align:center; border-right:1px solid #ccc; background:#fdf6ea; display:inline; height:40px;line-height: 40px; font-weight:bold;}
.navDate li.selectCurrent { background: #00c3c3; color:#fff; font-weight:bold;}

.VoteItem { width:100%; background:#fdf6ea; margin-top:5px; padding:10px 0;}
.VoteItem li { float:left; width:50%; text-align:center; }
.VoteItem li img { width:90%; border:1px solid #ccc;}
.CheckItem { padding:10px 0 20px; text-align:center; }
.CheckItem label { }
.VotesCount { color:#999; font-weight:bold; }

.rankingTable { width:90%; border-collapse:collapse;border-spacing:0; margin:0 auto; }
.rankingTable td { text-align:center;}
.rankingTable thead td { font-weight:bold; border-bottom:1px solid #ccc;}
.rankingTable tbody td { border-bottom:1px solid #ccc;}

.comment_people { background:#fff; margin-top:5px; padding:15px 0; }
.comment_people h5 { padding:0 10px;}
.comment_people ul { margin-top: 3px; border-top: 1px solid #003366; }
.comment_people li { padding: 8px 10px; border-bottom: 1px dashed #6699CC; overflow: hidden; }
.comment_people li .comment_name { float:left;}
.comment_people li .comment_time { float:right;}
.comment_people li .comment_content { line-height:18px; text-indent:25px; color:#666; max-height:72px; overflow:hidden; margin-top:5px;}
.comment_people li .comment_item { float:right; margin-right:15px;}


#divLoading{text-align:center;display:block; background:#fff; line-height:35px; margin-top:5px;}

#show{  
            position: absolute;  
            width:426px;  
            height:293px;  
            z-index: 200;  
        }  
        #info{  
            position: absolute;  
            top:380px;  
            left:10px;  
            margin-left: 28px;  
            padding: 5px;  
            width:416px;  
            height: 45px;             
        }  
        #photo{  
            position: absolute;  
            top:35px;  
            left:35px;  
            border:3px solid red;  
            cursor: pointer;  
        }  
        
        
.d-admin { margin-top:10px; background:#fff; padding:10px 0; text-align:center; line-height:35px; min-height:200px; }
.d-admin input[type=text] { width:100px; }
.d-admin .form-group { text-align:center;}
